*.log
*.pot
*.pyc
__pycache__
account/__pycache__
SKM/__pycache__
dummy/__pycache__
helper/__pycache__
.env 
.venv 
env/ 
venv/ 
ENV/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
